$font-base: 'Work Sans', sans-serif;

$transition: .3s all ease-in-out;

$color-dark: #262626;
$color-black: #000000;
$color-black2: #1C1B1F;
$color-white:#ffffff;
$color-white2:#F9F1FE;
$color-primary:#8842F0;
$color-grey:#575757;
$color-grey1:#6C6C6C;
$color-blue:#0099cc;
